.sofas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.sofas-grid img {
    width: 100%;         /* fill the container width */
    max-width: 250px;    /* optional: limit max width */
    height: 180px;       /* control height */
    object-fit: cover;   /* keep aspect ratio */
    border: 4px solid #030303;
    border-radius: 8px;
    margin: 0 auto;      /* center inside grid item */
    display: block;
}

.product h3, .product p, .product button {
    text-align: center;
}

.chairs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.chairs-grid img {
    width: 100%;         /* fill the container width */
    max-width: 250px;    /* optional: limit max width */
    height: 350px;       /* control height */
    object-fit: cover;   /* keep aspect ratio */
    border: 4px solid #030303;
    border-radius: 8px;
    margin: 0 auto;      /* center inside grid item */
    display: block;
}


